# Core
langchain>=0.2.12
langchain-community>=0.2.11
chromadb>=0.5.5
python-dotenv>=1.0.1
PyYAML>=6.0.1
loguru>=0.7.2
typer>=0.12.3
streamlit>=1.36.0

# API
fastapi>=0.112.0
uvicorn>=0.30.3

# LLM providers
groq>=0.9.0
langchain-groq>=0.1.4
openai>=1.37.1
langchain-openai>=0.1.22

# Embeddings / parsing
sentence-transformers>=3.0.1
torch>=2.3.1
pypdf>=4.2.0
python-docx>=1.1.2
markdown>=3.6

# Utils
requests>=2.32.3
tqdm>=4.66.4
tenacity>=8.5.0
prometheus_client>=0.20.0
